footer
    .wrapper 
        .footer
            p.
                В нашем интернет-магазине представлен большой
                выбор гироскутеров, сигвеев и электросамокатов
                от известных мировых производителей.
                Все товары, представленные на нашем сайте,
                отобраны лучшими специалистами в этой области.
                <br>
                <br>
                Copyright © 2020 My-Giro
            nav
                h3 КОМПАНИЯ MY-GIRO
                p 
                    a(href="") О нас
                p
                    a(href="") Наши преимущества
                p
                    a(href="") Наши консультанты
            nav
                h3 ПОКУПАТЕЛЯМ
                p 
                    a(href="") Каталог
                p
                    a(href="") Бренды
                p
                    a(href="") Полезная информация
            nav
                h3 ПОМОЩЬ
                p 
                    a(href="") Как оформить заказ
                p
                    a(href="") Способы оплаты
                p
                    a(href="") Обмен и возврат средств