header 
    .wrapper 
        .logo 
            h1 My giro 
        nav.main-menu 
            ul
                li 
                    a(href="index.html") Главная
                li
                    a(href="about.html") О нас
                li 
                    a(href="catalog.html") Каталог
                li 
                    a(href="info.html") Полезное
   
