@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: 0;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper {
  width: 1040px;
  margin: 0 auto;
}

header {
  height: 62px;
}
header .logo {
  margin-top: 12px;
  float: left;
}
header .logo h1 {
  font-size: 30PX;
  font-weight: 500;
}
header .main-menu {
  float: right;
  margin-top: 23px;
}
header .main-menu ul li {
  list-style-type: none;
  text-transform: uppercase;
  float: left;
  margin-left: 33px;
  cursor: pointer;
}
header .main-menu ul li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.banner {
  background-image: url(../images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 815px;
  color: white;
  text-align: center;
  padding-top: 300px;
}
.banner h1 {
  font-size: 56pt;
  font-weight: 300;
  margin-bottom: 39px;
}
.banner p {
  margin-bottom: 64px;
}
.banner input[type=button] {
  width: 133px;
  height: 35px;
  border: none;
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
}

.about {
  margin-top: 60px;
}
.about h1 {
  font-size: 36px;
  margin-bottom: 50px;
}
.about p {
  font-size: 20px;
}

.catalog {
  background-color: #e6efce;
  padding-bottom: 50px;
  margin-bottom: 50px;
  margin-top: 60px;
}
.catalog .catalog-head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
  padding-top: 50px;
}
.catalog .catalog-head h1 {
  font-size: 36px;
  margin-bottom: 50px;
  float: left;
}
.catalog .catalog-head .catalog-menu nav {
  font-size: 16px;
  float: right;
}
.catalog .catalog-head .catalog-menu nav p {
  display: inline-block;
  margin-left: 39px;
  padding: 5px 7px;
  border-radius: 510px;
}
.catalog .catalog-head .catalog-menu .active {
  background-color: #FF9900;
}
.catalog .elements {
  display: grid;
  grid-template-columns: repeat(4, 261px);
  -moz-column-gap: 10px;
       column-gap: 10px;
  box-shadow: 0px 0px 17px 4px rgba(34, 60, 80, 0.2);
}
.catalog .elements .tovar {
  background-color: white;
  width: 261px;
  height: 380px;
  padding: 25px 11px;
}
.catalog .elements .tovar img {
  width: 239px;
  height: 239px;
  margin-bottom: 13px;
}
.catalog .elements .tovar h3 {
  font-size: 16px;
  margin-bottom: 13px;
}
.catalog .elements .tovar h2 {
  font-size: 20px;
  font-weight: 700;
}

.info .hint-elements {
  display: grid;
  grid-template-columns: repeat(4, 261px);
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 50px;
}
.info .hint-elements .hint {
  width: 261px;
  height: 261px;
  padding-top: 100px;
  text-align: center;
  background-image: url(/src/images/1\ 921.png);
}
.info .hint-elements .hint h4 {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
}

footer {
  background-color: #e6efce;
}
footer .footer {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 200px;
  -moz-column-gap: 42px;
       column-gap: 42px;
  padding-top: 80px;
}
footer .footer nav h3 {
  font-weight: 700;
}
footer .footer nav p a {
  color: black;
  text-decoration: none;
}

.banner-about {
  background-color: #e6efce;
  text-align: center;
  height: 178px;
  padding-top: 70px;
}
.banner-about h1 {
  font-weight: 600;
  font-size: 36px;
}

.about-info {
  margin: 50px 0;
}
.about-info h2 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
.about-info p {
  margin-top: 10px;
}
.about-info input {
  width: 165px;
  height: 60.957px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #F90;
  border: none;
  margin: 53px 40% auto 40%;
  cursor: pointer;
}

.catalog-solo {
  background-color: none;
  padding-bottom: 50px;
  margin-bottom: 50px;
  margin-top: 60px;
}
.catalog-solo .catalog-head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
  padding-top: 50px;
}
.catalog-solo .catalog-head h1 {
  font-size: 36px;
  margin-bottom: 50px;
  float: left;
}
.catalog-solo .catalog-head .catalog-menu nav {
  font-size: 16px;
  float: right;
}
.catalog-solo .catalog-head .catalog-menu nav p {
  display: inline-block;
  margin-left: 39px;
  padding: 5px 7px;
  border-radius: 510px;
}
.catalog-solo .catalog-head .catalog-menu .active {
  background-color: #FF9900;
}
.catalog-solo .elements {
  display: grid;
  grid-template-columns: repeat(4, 261px);
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 20px;
}
.catalog-solo .elements .tovar {
  background-color: white;
  width: 261px;
  height: 380px;
  padding: 25px 11px;
  box-shadow: 0px 0px 17px 4px rgba(34, 60, 80, 0.2);
}
.catalog-solo .elements .tovar img {
  width: 239px;
  height: 239px;
  margin-bottom: 13px;
}
.catalog-solo .elements .tovar h3 {
  font-size: 16px;
  margin-bottom: 13px;
}
.catalog-solo .elements .tovar h2 {
  font-size: 20px;
  font-weight: 700;
}

.info-solo {
  margin-top: 66px;
}
.info-solo .hint-elements {
  display: grid;
  grid-template-columns: repeat(2, 552px);
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 50px;
}
.info-solo .hint-elements .hint {
  box-shadow: 0px 0px 17px 4px rgba(34, 60, 80, 0.2);
  width: 552px;
  height: 200px;
  display: flex;
  padding: 10px 15px;
  border-radius: 20px;
}
.info-solo .hint-elements .hint img {
  width: 179px;
  height: 180px;
  background-color: #FF9900;
}
.info-solo .hint-elements .hint h4 {
  color: #000000;
  margin-top: 80px;
  margin-left: 50px;
  font-size: 18px;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */