doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= docName
        link(rel="stylesheet", href="styles/style.css")
    body
        include modules/header
        .banner-about  
            .wrapper
                h1 Каталог
        .catalog-solo
            .wrapper 
                .catalog-head 
                    h1 Каталог
                    .catalog-menu
                        nav 
                            p(class="active") Все
                            p Гироскутеры
                            p Электросамокаты
                            p Сигвеи
                .elements 
                    .tovar 
                        img(src=".//images/2 1.png", alt="")
                        h3.
                            Xiaomi Ninebot mini Pro
                            White (Белый)
                        h2 31 480р
                    .tovar 
                        img(src=".//images/2 1.png", alt="")
                        h3.
                            Xiaomi Ninebot mini Pro
                            White (Белый)
                        h2 31 480р
                    .tovar 
                        img(src=".//images/2 1.png", alt="")
                        h3.
                            Xiaomi Ninebot mini Pro
                            White (Белый)
                        h2 31 480р
                    .tovar 
                        img(src=".//images/2 1.png", alt="")
                        h3.
                            Xiaomi Ninebot mini Pro
                            White (Белый)
                        h2 31 480р
                    .tovar 
                        img(src=".//images/2 1.png", alt="")
                        h3.
                            Xiaomi Ninebot mini Pro
                            White (Белый)
                        h2 31 480р
                    .tovar 
                        img(src=".//images/2 1.png", alt="")
                        h3.
                            Xiaomi Ninebot mini Pro
                            White (Белый)
                        h2 31 480р
                    .tovar 
                        img(src=".//images/2 1.png", alt="")
                        h3.
                            Xiaomi Ninebot mini Pro
                            White (Белый)
                        h2 31 480р
                    .tovar 
                        img(src=".//images/2 1.png", alt="")
                        h3.
                            Xiaomi Ninebot mini Pro
                            White (Белый)
                        h2 31 480р
        include modules/footer