- var docName = "MyGiro"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= docName
        link(rel="stylesheet", href="styles/style.css")
    body
        include modules/header
        .banner 
            .wrapper 
                h1 My-Giro 
                p Lorem ipsum dolor sit amet,tetur uptatum corporis ipsam id nobis dolorum ea. Ex ratione in quos nisi Lorem ipsum dolor sit amet, consectetur lit. simos quis ut quas aliquam sint sapiente id perferendis a iure?
                input(type="button", value="В КАТАЛОГ")
        .about 
            .wrapper
                h1 О нас
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eius id praesentium dolorem suscipit provident sapiente vitae consequatur. Natus corrupti placeat aliquam beatae laborum rerum est id. Ab, eius? Dolore?
        .catalog 
            .wrapper 
                .catalog-head 
                    h1 КАТАЛОГ
                    nav 
                        li
                            button(value="Все" class="active")
                        li 
                            button(value="Гироскутеры")
                        li    
                            button(value="Электросамокаты")
                        li    
                            button(value="Сигвеи")
                .elements 
                    .tovar 
                        img(src=".//images/2 1.png", alt="")
                        h3 Xiaomi Ninebot mini Pro
                        | White (Белый)
                        b 31 480р
                    .tovar 
                        img(src=".//images/2 1.png", alt="")
                        h3 Xiaomi Ninebot mini Pro
                        | White (Белый)
                        b 31 480р
                    .tovar 
                        img(src=".//images/2 1.png", alt="")
                        h3 Xiaomi Ninebot mini Pro
                        | White (Белый)
                        b 31 480р
                    .tovar 
                        img(src=".//images/2 1.png", alt="")
                        h3 Xiaomi Ninebot mini Pro
                        | White (Белый)
                        b 31 480р
                .info 
                    .wrapper 
                        .elements 
                            .hint 
                                h4 Как выбрать гироскутер?
        include modules/footer