- var docName = "MyGiro"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= docName
        link(rel="stylesheet", href="styles/style.css")
    body
        include modules/header
        .banner 
            .wrapper 
                h1 My-Giro 
                p Lorem ipsum dolor sit amet,tetur uptatum corporis ipsam id nobis dolorum ea. Ex ratione in quos nisi Lorem ipsum dolor sit amet, consectetur lit. simos quis ut quas aliquam sint sapiente id perferendis a iure?
                input(type="button", value="В КАТАЛОГ")
        .about 
            .wrapper
                h1 О нас
                p.
                    В нашем интернет-магазине представлен большой выбор гироскутеров, сигвеев и электросамокатов от 
                    известных мировых производителей.
                    <br><br>
                    В нашем интернет-магазине представлен большой выбор гироскутеров, сигвеев и электросамокатов от 
                    известных мировых производителей. Все товары, представленные на нашем сайте, отобраны лучшими 
                    специалистами в этой области. Купить гироскутер, электросамокат или сигвей недорого.

        .catalog 
            .wrapper 
                .catalog-head 
                    h1 Каталог
                    .catalog-menu
                        nav 
                            p(class="active") Все
                            p Гироскутеры
                            p Электросамокаты
                            p Сигвеи
                .elements 
                    .tovar 
                        img(src=".//images/2 1.png", alt="")
                        h3.
                            Xiaomi Ninebot mini Pro
                            White (Белый)
                        h2 31 480р
                    .tovar 
                        img(src=".//images/2 1.png", alt="")
                        h3.
                            Xiaomi Ninebot mini Pro
                            White (Белый)
                        h2 31 480р
                    .tovar 
                        img(src=".//images/2 1.png", alt="")
                        h3.
                            Xiaomi Ninebot mini Pro
                            White (Белый)
                        h2 31 480р
                    .tovar 
                        img(src=".//images/2 1.png", alt="")
                        h3.
                            Xiaomi Ninebot mini Pro
                            White (Белый)
                        h2 31 480р
        .info 
            .wrapper 
                .hint-elements 
                    .hint 
                       h4 Как выбрать гироскутер?
                    .hint 
                       h4 Как выбрать гироскутер?
                    .hint 
                       h4 Как выбрать гироскутер?
                    .hint 
                       h4 Как выбрать гироскутер? 
        include modules/footer