doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= docName
        link(rel="stylesheet", href="styles/style.css")
    body
        include modules/header
        .banner-about  
            .wrapper
                h1 Полезная информация
        .info-solo 
            .wrapper 
                .hint-elements 
                    .hint 
                        img(src=".//images/1 921.png", alt="")
                        h4 Как выбрать гироскутер?
                    .hint 
                        img(src=".//images/1 921.png", alt="")
                        h4 Как выбрать гироскутер?
                    .hint 
                        img(src=".//images/1 921.png", alt="")
                        h4 Как выбрать гироскутер?
                    .hint 
                        img(src=".//images/1 921.png", alt="")
                        h4 Как выбрать гироскутер?
        include modules/footer